<li>
  <% if photo.image.attached? %>
    <%= image_tag photo.image.variant(resize_to_limit: [200, 200]), alt: "photo" %><br>
  <% end %>
  <%= photo.caption.presence || "(no caption)" %> —
  posted by <%= link_to photo.owner.username, user_path(photo.owner) %>
  <br>
  <%= link_to "#{photo.likes_count} ❤️", photo_path(photo) %>
</li>
